{% extends "base.html" %}
{% block title %}Skill Matching{% endblock title %}
{% block content %}
<div class="card">
    <div class="card-header">
       <h5>Auto Skill Matching</h5>
    </div>
    <div class="card-body border-bottom">
       <div class="row align-items-center">
          <div class="col-sm-6">Actions</div>
          <div class="col-sm-6 text-sm-end mt-3 mt-sm-0"><button type="reset" class="btn btn-success">Match Skills</button> <button type="reset" class="btn btn-secondary">Undo</button></div>
       </div>
    </div>
 </div>
{% endblock content %}