{% extends "base.html" %}
{% block title %}User Content{% endblock title %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h5>User Report</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="exampleInputEmail1">Title</label>
                        {{ form.title }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        {{ form.description }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="Location">Location</label>
                        {{ form.location }}
                    </div>
                    <label for="file">Upload Media (Optional):</label>
                    <input type="file" name="file" multiple>
                    <input type="submit" class="btn btn-primary m-2 w-100 " value="Submit" />
                </form>
                </div>
            </div>
        </div>

{% endblock content %}